strict-ssl=false
registry=${NPM_REGISTRY_REMOTE}
@fdp:registry=${NPM_REGISTRY_LOCAL}
@acorn-ui:registry=${NPM_REGISTRY_LOCAL}
@fdpc:registry=${NPM_REGISTRY_LOCAL}
@fdp-api:registry=${NPM_REGISTRY_LOCAL}
sass_binary_site=${NPM_REGISTRY_SASS}
chromedriver_cdnurl=${NPM_REGISTRY_CHROME_DRIVER}
