[user]
	name = Paulius Kutka
	email = 13101751+pkey@users.noreply.github.com

[gpg]
	program = gpg

[core]
	excludesfile = ~/dotfiles/git/.gitignore_global

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[alias]
	da = !git add -N . && git diff
